.current-menu-item.current_page_item a {
	color: #a8741a !important;
}
.offcanvas-navigation .mobile-menu li a {
	text-transform: capitalize;
}
/* Remove spinner on WooCommerce checkout page */
.woocommerce .loader::before {
	visibility: hidden !important;
}

/*Customize woocommerce button*/
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	line-height: 45px;
	padding: unset;
	font-weight: 400;
	border-radius: 0;
	color: #000000 !important;
	background-color: transparent;
	display: flex;
	justify-content: space-evenly;
	box-shadow: 0px 8px 15px rgb(0 0 0 / 0%);
	text-shadow: none;
}
.contact-main-page .contact-form-content .contact-form .form-group .kenne-contact-form_btn {
	border-radius: 0;
}
.about-us-area .overview-content .kenne-about-us_btn-area .about-us_btn {
	border-radius: 0;
}

/*Customize woocommerce button loading*/
.woocommerce #respond input#submit.loading,
.woocommerce a.button.loading,
.woocommerce button.button.loading,
.woocommerce input.button.loading {
	opacity: 1;
	padding-right: 2.618em;
	background-color: #a8741a;
	border-color: #a8741a !important;
	color: #ffffff !important;
}

/*Customize woocommerce button loading loader*/
.woocommerce #respond input#submit.loading::after,
.woocommerce a.button.loading::after,
.woocommerce button.button.loading::after,
.woocommerce input.button.loading::after {
	top: 0;
}

/*Customize form inputs*/
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
select {
	padding: 10px;
	border-radius: 0;
	border: 1px solid #e5e5e5;
}
.select2-container--default .select2-selection--single {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 0;
}
.select2-container .select2-selection--single {
	height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 39px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 7px;
}
.select2-dropdown {
	border-radius: 0;
	border: 1px solid #e5e5e5;
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
	background-color: #a8741a;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
	border-radius: 0;
	border: 1px solid #e5e5e5;
	width: 132px;
	padding: 10px 6px 10px;
}

/* Customize pay submit button */
#place_order {
	width: 100%;
	color: #ffff !important;
	background-color: #000;
}
#place_order:hover {
	width: 100%;
	color: #ffff !important;
	background-color: #a8741a;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background-color: #000;
	color: #fff !important;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
	background-color: #a8741a;
	color: #fff !important;
}

/* Sale sticker z-index */
.template-color-1 .sticker {
	z-index: 9;
}

/* Discout price */
.woocommerce ul.products li.product .price del {
	color: #bbbbbb;
	text-decoration: line-through;
	font-size: 14px;
	margin-left: 0px;
}

/* display price */
.woocommerce ul.products li.product .price ins,
.woocommerce ul.products li.product .price {
	font-weight: normal;
	font-size: 16px;
	color: #a8741a;
}

h2.woocommerce-loop-product__title,
.woocommerce ul.products li.product .price {
	text-align: center;
}

.woocommerce table.shop_table,
#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment,
.woocommerce-checkout #payment div.payment_box {
	border-radius: 0px;
}

.slide-bg {
	background-image: unset;
	background-repeat: no-repeat;
	background-position: center center !important;
	background-size: cover;
	min-height: 940px;
	position: relative;
}

.slide-bg::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	background-color: #0000001f;
	height: 100%;
}

@media (max-width: 575px) {
	.slide-bg {
		min-height: 50vh;
	}
}

.ad-banner-image {
	background-image: unset;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 330px;
}
.variations_button.woocommerce-variation-add-to-cart.woocommerce-variation-add-to-cart-disabled,
.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled {
	display: grid;
	grid-gap: 1.4rem;
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
	background-color: #000;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: #000;
}
.woocommerce-variation-price {
	margin-bottom: 1rem;
}
.woocommerce #respond input#submit,
.woocommerce button.button,
.woocommerce input.button,
a.button.wc-forward.wp-element-button,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled] {
	padding: 0 20px;
}
.woocommerce-checkout #payment ul.payment_methods li img {
	margin: 10px 0;
}
.woocommerce .quantity .qty {
	border-radius: 0;
	border: 1px solid #e5e5e5;
}
.woocommerce a.added_to_cart {
	width: 100%;
	text-align: center;
}
@media (max-width: 991px) {
	.transparent-header {
		position: absolute;
	}
}
.service-area .service-nav .service-item .content > h4 {
	font-size: 24px;
	margin-bottom: 10px;
	font-weight: 400;
	margin-bottom: 30px;
	line-height: 1.2;
	font-family: "Prata", serif;
}
.blog-image img,
img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
	height: auto;
}

.blog-img img {
	height: 270px;
	object-fit: cover;
	width: 100%;
}

/* comments */
.blog-details_area .kenne-comment-section ul li {
	display: block;
}
.blog-details_area .kenne-comment-section ul li .comment-body {
	padding-left: 0;
}
.comment-list .children li {
	border: 0 !important;
}
.blog-details_area .kenne-comment-section ul li .comment-body .reply {
	margin-top: 1rem;
}
.kenne-blog-comment-wrapper {
	margin-top: 1rem;
}
.blog-details_area .kenne-comment-section ul li .comment-body .reply a {
	font-size: 12px;
	display: inline-block;
	width: 60px;
	height: 25px;
	line-height: 23px;
	text-align: center;
	border-radius: 20px;
	text-transform: capitalize;
	color: #a8741a;
	border: 1px solid #a8741a;
}
.blog-details_area .kenne-blog-comment-wrapper form .comment-form-comment label {
	font-weight: 500;
	margin-bottom: 25px;
	display: block;
	text-transform: capitalize;
}
.blog-details_area .kenne-blog-comment-wrapper form .comment-form-comment textarea {
	height: 130px;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
	background: #f5f5f5;
	border: none;
	font-size: 14px;
}
.cancel-reply a {
	color: #a8741a;
}
.wp-block-latest-posts.wp-block-latest-posts__list li {
	/* display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox; */
	/* display: flex; */
	margin-bottom: 1rem;
}
.wp-block-latest-posts__featured-image.alignleft {
	width: 65px;
	height: 100%;
	margin-bottom: 30px;
}
.wp-block-latest-posts.wp-block-latest-posts__list li .wp-block-latest-posts__post-title {
	width: calc(100% - 65px);
	/* padding-left: 15px; */
}
ol.has-avatars.alignleft.wp-block-latest-comments {
	padding-left: 0;
}
.kenne-blog-sidebar h4 {
	font-size: 20px;
	line-height: 20px;
	position: relative;
	margin-bottom: 55px;
	width: fit-content;
}
.kenne-blog-sidebar h4::before {
	background-color: #e5e5e5;
	content: "";
	width: 100%;
	height: 1px;
	bottom: -26px;
	left: 0;
	position: absolute;
}
a.tag-cloud-link {
	font-size: 14px !important;
	border: 1px solid #e5e5e5;
	padding: 5px 15px;
	display: inline-block;
	width: fit-content;
	line-height: 20px;
}
/* page numbers */
ul.page-numbers {
	padding: 10px 0 !important;
	display: flex !important;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 25px;
	border: 2px solid #a8741a !important;
	margin: 0 !important;
	width: fit-content !important;
}
/* Center the page numbers */
.woocommerce nav.woocommerce-pagination {
	justify-content: center !important;
	display: flex !important;
}

ul.page-numbers li {
	display: inline-block !important;
	border: 0 !important;
}
ul.page-numbers li a,
ul.page-numbers li span {
	color: #242424 !important;
	padding: 0 25px !important;
	display: block !important;
	border-right: 1px solid #a8741a;
	background: transparent !important;
}
ul.page-numbers li:last-child a,
ul.page-numbers li:last-child span {
	border-right: 0;
}
ul.page-numbers li span {
	color: #a8741a !important;
	background: transparent !important;
}

/* mega menu title class */
.main-nav > ul > li.megamenu-holder > ul > li > a.megamenu-title {
	border-bottom: 1px solid #e5e5e5;
	position: relative;
	font-weight: 500;
	font-size: 18px;
	display: inline-block;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.main-nav > ul > li.megamenu-holder > ul > li > a.megamenu-title:before {
	content: "";
	width: 50%;
	height: 1px;
	position: absolute;
	bottom: -1px;
	background-color: #a8741a;
}

/* remove max hieght from submenu for mobile */
.offcanvas-navigation .mobile-menu li .sub-menu {
	max-height: unset !important;
}

/* Remove opacity .5 from color swatch */
.wcsvfs-swatches .swatch-color {
	opacity: 1 !important;
}

/* Contact form */

/* .contact-form label {
	width: 100%;
}

.contact-form label span input,
.contact-form label span textarea,
.contact-form label span select {
	width: 100%;
} */

.wpcf7-submit {
	line-height: 12px;
	display: inline-block;
	padding: 16px 30px;
	border-radius: 3px;
	font-weight: 500;
	font-size: 12px;
	background-color: #242424;
	border: 1px solid #242424;
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 0;
	transition: all 0.3s ease-in;
}

.wpcf7-submit:hover {
	background-color: #a8741a !important;
	color: #ffffff;
	border-color: #a8741a !important;
}

/* .contact-form label span input,
.contact-form label span textarea,
.contact-form label span select {
	background-color: #ffffff;
	width: 100%;
	height: 50px;
	line-height: 50px;
	outline: none;
	border: 1px solid #e5e5e5;
	padding-left: 20px;
	margin-top: 10px;
} */
/* .contact-form label span textarea {
	height: 200px;
} */

.wpcf7 form.sent .wpcf7-response-output {
	border-color: #a8741a !important;
}
.wpcf7 form .wpcf7-response-output {
	margin: 0 !important;
	padding: 0.5em !important;
}
